*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#game-board{
    overflow: hidden;
    height: 600px;
    width: 95%;
    border:1px solid black;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(rgb(113, 189, 240),white);
    
}

#nuvem{
    position: absolute;
    bottom:0;
    width: 350px;
    top:-100px;
    animation: animacaonuvens 13s infinite linear;
}

#tubo{
    position: absolute;
    bottom: 0;
    width: 100px;
    animation: animacaotubo 2s infinite linear;
}

#mario{
    position: absolute;
    width: 175px;
    bottom: -5px;
}

#botao{
    position: absolute;
    top:650px;
    left:35px;
    opacity: 0%;
}

#placar{
    position: absolute;
    top:150px;
    left:700px;
    font-size: 40px;
}

@keyframes animacaotubo{
    from{right:-15%;}
    to{right:100%;}
}
@keyframes animacaonuvens{
    from{right:-50%;}
    to{right:100%;}
}

@keyframes animacaopulo{
    0%{bottom:-5;}
    40%{bottom: 175px;}
    50%{bottom: 175px;}
    60%{bottom: 175px;}
    100%{bottom: 0;}
}