html{
    overflow-x: hidden;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#game-board{
    height: 600px;
    position: relative;
    background: linear-gradient(rgb(113, 189, 240),white);
}
#nuvem{
    position: absolute;
    bottom:0;
    width: 350px;
    top:-100px;
    animation: animacaonuvens 13s infinite linear;
}
#tubo{
    position: absolute;
    bottom: 0;
    width: 100px;
    animation: animacaotubo 2s infinite linear;
}
#mario{
    position: absolute;
    width: 175px;
    bottom: -5px;
}
#botao{
    opacity: 0%;
    font-size: 30px;
    position: absolute;
    top:650px;
    left:35px;
    background-color: rgba(0, 0, 0, 0.096);
    color: rgb(0, 0, 0);
    border-radius: 15%;
    border-color: aliceblue ;
}
#placar{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    top: 62px;
    left:62px;
}
#placa{
    width: 150px;
}
#chao{
    top:600px;
    position: absolute;
    width: 2000px;
}
#rolo{
    width: 50%;
}
#rolagem{
    position: relative;
    width: 200%;
    animation: rolagem 0.43s linear infinite;
}
#rolagem img:nth-child(2) {
    left: 50%;
}
#placar{
    position: absolute;
    left:742px;
    animation: animacaoscore 3s infinite linear;
    animation-timing-function: ease-in-out;
}
#lakitu{
    position: absolute;
    width: 230px;
    left: 700px;
    animation: animacaolakitu 3s infinite linear;
    animation-timing-function: ease-in-out;
}
@keyframes rolagem {
    0% {left: 0%;}
    100% {left: -50%;}
}
@keyframes animacaotubo{
    from{right:-15%;}
    to{right:100%;}
}
@keyframes animacaonuvens{
    from{right:-50%;}
    to{right:100%;}
}
@keyframes animacaopulo{
    0%{bottom:-5;}
    40%{bottom: 175px;}
    50%{bottom: 175px;}
    60%{bottom: 175px;}
    100%{bottom: 0;}
}
@keyframes animacaoopacidade{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
@keyframes animacaolakitu{
    0%{top:50px;}
    50%{top:135px;}
    100%{top:50px;}
}
@keyframes animacaoscore{
    0%{top:210px;}
    50%{top:295px;}
    100%{top:210px;}
}