*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.game-board{
    overflow: hidden;
    height: 600px;
    width: 90%;
    border:1px solid black;
    margin: 0 auto;
    position: relative;
    background-color: rgb(201, 236, 245);
}

#nuvens{
    position: absolute;
    bottom:0;
    width: 1250px;
    top:0px;
    animation: animacaonuvens 13s infinite linear;
}

#tubo{
    position: absolute;
    bottom: 0;
    width: 100px;
    animation: animacaotubo 2s infinite linear;
}

#mario{
    position: absolute;
    width: 175px;
    bottom: -5px;
}

.pular{
    animation: animacaopulo 500ms linear;
}

@keyframes animacaotubo{
    from{right:-15%;}
    to{right:100%;}
}
@keyframes animacaonuvens{
    from{right:-135%;}
    to{right:100%;}
}

@keyframes animacaopulo{
    0%{bottom:-5;}
    40%{bottom: 175px;}
    50%{bottom: 175px;}
    60%{bottom: 175px;}
    100%{bottom: 0;}
}
@keyframes animacaopulo2{
    0%{bottom:-5;}
    40%{bottom: 175px;}
    50%{bottom: 175px;}
    60%{bottom: 175px;}
    100%{bottom: 0;}
}
